<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginForm" (ngSubmit)="loginUsers()">
    <ion-input type="text" placeholder="Email" formControlName="PRO_EMAIL"></ion-input>
    <ion-input type="password" placeholder="mot de passe" formControlName="PRO_PASSWORD"></ion-input>
    <ion-button type="submit" color="dark" [disabled]="!loginForm.valid">Se connecter</ion-button>
  </form>
  <div padding>
    <ion-button color="light" expand="full" (click)="formRegister()">Register</ion-button>
    <ion-button (click)="loginWithFB()">Login with Facebook</ion-button>
  </div>
</ion-content>
