// .header-btn{
//     width: 100%;
//     min-width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 0 25px;
//     margin-bottom: 20px;

//     .signin, .signup{
//         width: 50%;
//         max-width: 50%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 16px 0;
//         background-color:rgba(0,0,0,.3);
//         position: relative;
//         font-size: .8rem;
//     }

//     .signin{
//         margin-right: 5px;
//     }

//     .signup{
//         margin-left: 5px;
//     }

//     .active::before{
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 2px;
//         bottom: 0;
//         left: 0;
//         background-color: rgb(91,201,224);
//     }
// }

// form{
//     .inputWrapper{
//         position: relative;
//         height: 45px;
//         width : 100%;
//         margin-bottom: 20px;
//         ion-input{
//             background-color: #1b1e27;
//             position: relative;
//             height: 45px;
//             z-index: 1;
//             border-radius: 50px;
//             border : 1px solid rgba(255,255,255,.8);
//             --padding-start : 2rem;
//             font-family: "PNL";
//         }
//         ion-label{
//             position: absolute;
//             top : -.5rem;
//             left: 1.5rem;
//             z-index: 2;
//             font-size: .9rem;
//             background: rgb(27,30,39);
//             background: linear-gradient(0deg, rgba(27,30,39,1) 50%, rgba(18,20,27,1) 50%); 
//             padding-left: 5px;
//             padding-right: 5px;
//             color : rgba(255,255,255,.8);
//         }
//     }

//     .seConn{
//         --background: rgb(91,201,224);
//         --background: linear-gradient(0deg, rgba(91,201,224,1) 0%, rgba(22,126,197,1) 100%); 
//         --box-shadow: 0 5px 20px -8px rgba(108,209,241,1);
//         text-transform:none;

//     }

//     .regBtn{
//         --background: rgb(255,127,127);
//         --background: linear-gradient(0deg, rgba(255,127,127,1) 0%, rgba(228,27,10,1) 100%); 
//         --box-shadow: 0 5px 20px -8px rgba(235, 94, 94, 1);
//         text-transform:none; 
//     }

    

//     .loginAlternative{
//         width : 100%;
//         display : flex;
//         margin-top: 15px;
//         margin-bottom: 25px;
//         .btnfb{
//             --background: rgb(72,103,170);
//             --background: linear-gradient(0deg, rgba(72,103,170,1) 0%, rgba(38,66,125,1) 100%); 
//             --box-shadow: 0 5px 20px -8px rgba(108, 199, 241, 1);
//             width: 50%;
//         }
    
//         .btngoogle{
//             --background: rgb(255,127,127);
//             --background: linear-gradient(0deg, rgba(255,127,127,1) 0%, rgba(228,27,10,1) 100%); 
//             --box-shadow: 0 5px 20px -8px rgba(235, 94, 94, 1);
//             width: 100%;
//         }    
//     } 
// }
// img{
//     margin-top: 20px;
//     margin-bottom: 20px;
//     width: 50%;
// }

// h1{
//     margin: 0;
//     font-size: 1rem;
// }

// .pasDeCompte{
//     margin-top: 20px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     p{
//         color : rgba(255, 255, 255, 0.3);
//     }
    
//     p:nth-child(2){
//         color : rgb(91,201,224);
//         font-family: "PNB";
//         margin-left: 5px;
//         color : #fff;
//     }
// }

// .mdpOublie{
//     float: right;
//     color : #fff;
//     font-size: .9rem;
//     margin-right: 20px;
// }

ion-content,.ion-content-wrapper{
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overlay{
    background: url("../../assets/img/du.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: scale(1.05);
    animation: scaleDown 2s linear .4s forwards;
}
  

@keyframes scaleDown{
    0%{transform: scale(1.05)}
    100%{transform: scale(1)}
}


.overlay::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;

}

.login-content{
    position: relative;
    width: 100%;
    height: 70%;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    form{
        width: 100%;
        padding: 0 2.5rem;
        text-align: center;

        button:focus {outline:0;}

        .seConnBtn, .regBtn{
            border-radius: 20px;                
            transition: all .3s ease-out;
            background: rgba(255, 255, 255, 1);
            width: 100%;
            height: 40px;
            border: 1px solid #fff;
            font-family: "NLI";
            text-transform: uppercase;
            font-size: .8rem;
            color: rgb(61, 61, 61);
            position: relative;
            z-index: 1;
            overflow: hidden !important;

            .seConnText, .regText{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all .3s ease-in-out;
            }
        }

        .regBtn{
            margin-top: 40px;
        }

        @keyframes spin{
            0% {transform: rotate(0deg)}
            100% {transform: rotate(360deg)}
        }

        //ripple effect start
        .rippleEffect{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index: -1;
            background-position: center;
            transition: background 0.8s;
        }

        .seConnBtn:hover > .rippleEffect, .regBtn:hover > .rippleEffect {
            background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
        }

        .seConnBtn:active > .rippleEffect, .regBtn:active > .rippleEffect {
            background-color: rgb(190, 190, 190) !important;
            background-size: 100% !important;
            transition: background 0s !important;
        }
        //ripple effect end
        

        .register-text, .login-text{
            font-size: .8rem;
            text-align: center;
            text-transform: uppercase;
            margin-top: 2rem;
            width: 100%;
            color: #fff;
            font-family: "NLI";
            span{
                font-family: "NBL";
            }
        }

        .formRegMainTitle{
            width: 100%;
            color: #fff;
            font-family: "NBL";
            font-size: 1.6rem;
            text-align: center;
            margin: 0;
            margin-bottom: 12px;
            text-transform: none;
        }

        .formregtitle{
            width: 100%;
            color: #A9A9A9;
            font-family: "NLI";
            font-size: 1rem;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }
    }


    h1{
        color: #fff;
        text-transform: uppercase;
        font-family: "NBL";
        letter-spacing: 1px;
    }

    .login-logo{
        width: 50%;
        margin-top: 4rem;  
        margin-bottom: 2rem;
        transform: scale(.5);
        filter: blur(20px);
        opacity: 0;
        animation: logoAnim 1.5s linear .8s forwards;    
    }

    @keyframes logoAnim {
        0%{
            opacity: 0;
            filter: blur(20px);
            transform: scale(.5);
        }

        100%{
            opacity: 1;
            filter: blur(0);
            transform: scale(1);
        }
    }

    ion-item{
        --ion-safe-area-right: 0;
    }

    ion-label{
        padding-left: 10px;
        color: #fff;
        font-family: "NLI";
        text-transform: uppercase;
        font-size: .8rem;
    }

    ion-input{
        --padding-start : 1rem;
        --padding-end : 1rem;
        color: #fff;
        font-family: "NLI";
        font-size: .9rem;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #fff;
    }

    @keyframes slide-up{
        from{transform: translateY(30px); opacity: 0;}
        to{transform: translateY(0); opacity: 1;}
    }

    @keyframes slide-down{
        from{transform: translateY(0px); opacity: 1;}
        to{transform: translateY(30px); opacity: 0;}
    }

    .mdpoublie{
        width: 100%;
        color: #fff;
        font-family: "NLI";
        font-size: .8rem;
        text-align: right;
        text-transform: uppercase;
    }
}

.loginAlternative{
    width: 100%;
    .la-text{
        width: 100%;
        color: #fff;
        font-family: "NLI";
        font-size: .8rem;
        text-align: center;
        text-transform: uppercase;
    }
    .fbConn{
        border-radius: 20px;
        transition: all .3s ease-out;
        background: #395693;
        width: 100%;
        height: 40px;
        font-family: "NLI";
        text-transform: uppercase;
        font-size: .8rem;
        color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px -3px rgba(0,0,0,.6);
        position: relative;

        img{
            position: absolute;
            left: 16px;
            width: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    //ripple effect start
    .fbConn {
        background-position: center;
        transition: background 0.8s;
      }
    .fbConn:hover {
        background: #395693 radial-gradient(circle, transparent 1%, #395693 1%) center/15000%;
    }
    .fbConn:active {
        background-color: #7284ac;
        background-size: 100%;
        transition: background 0s;
    }
    //ripple effect end

    .gConn{
        border-radius: 20px;       
        transition: all .3s ease-out;
        background: #dd4e40;
        width: 100%;
        height: 40px;
        font-family: "NLI";
        text-transform: uppercase;
        font-size: .8rem;
        color: #fff;
        box-shadow: 0 5px 10px -3px rgba(0,0,0,.6);
        position: relative;
        z-index: 1;

        img{
            position: absolute;
            left: 16px;
            width: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    //ripple effect start
    .gConn {
        background-position: center;
        transition: background 0.8s;
      }
    .gConn:hover {
        background: #dd4e40 radial-gradient(circle, transparent 1%, #dd4e40 1%) center/15000%;
    }
    .gConn:active {
        background-color: #df8c84;
        background-size: 100%;
        transition: background 0s;
    }
    //ripple effect end

}

.scw_2{
    margin-top: 30px !important;
}

@media only screen and (max-width: 850px) {
    .overlay{
        background: url("../../assets/img/du.jpg") no-repeat 10% center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

//animation delay
.ad2, .ad2_2{animation-delay: .2s !important}
.ad3, .ad3_2{animation-delay: .4s !important}
.ad4, .ad4_2{animation-delay: .6s !important}
.ad5, .ad5_2{animation-delay: .8s !important}
.ad6{animation-delay: 1s !important}
.ad7{animation-delay: 1.2s !important}
.ad8{animation-delay: 1.4s !important}

//button click effect
@keyframes clickEffect{
    0%{transform: scale(1)}
    50%{transform: scale(.9)}
    100%{transform: scale(1)}
}


  