<ion-content color="secondary">
  <div style="padding:20px; text-align: center;">
    <img src="../../assets/img/logo-text.svg" alt="">
    <h1>Profitez d'une boisson offerte dans les meilleurs bars de Genève</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loginUsers()" style="padding:20px;">

    <div class="inputWrapper">
      <ion-label>Email :</ion-label>
      <ion-input class="inputEmailLogin" type="email" formControlName="PRO_EMAIL"></ion-input>
    </div>

    <div class="inputWrapper">
      <ion-label>Mot de passe :</ion-label>
      <ion-input type="password"  formControlName="PRO_PASSWORD" ></ion-input>
    </div>
    
      <!-- buttons -->
    <ion-button type="submit" class="seConn" shape="round" expand="full">Se connecter</ion-button>
    
    <div class="loginAlternative">
      <ion-button class="btnfb" (click)="loginWithFB()" shape="round"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      <ion-button class="btngoogle" (click)="loginWithGoogle()" shape="round"><ion-icon name="logo-googleplus"></ion-icon></ion-button>
    </div>   
    
    <a type="button" (click)="mdpOublier()" class="mdpOublie">Mot de passe oublié ?</a>
  </form>
  
  <div class="pasDeCompte">
    <p>Vous n'avez pas de compte ?</p> <p (click)="formRegister()">Inscrivez-vous</p>
  </div>
</ion-content>
