form{
    .inputWrapper{
        position: relative;
        height: 45px;
        width : 100%;
        margin-bottom: 20px;
        ion-input{
            background-color: #1b1e27;
            position: relative;
            height: 45px;
            z-index: 1;
            border-radius: 50px;
            border : 1px solid rgba(255,255,255,.8);
            --padding-start : 2rem;
            font-family: "PNL";
        }
        ion-label{
            position: absolute;
            top : -.5rem;
            left: 1.5rem;
            z-index: 2;
            font-size: .9rem;
            background: rgb(27,30,39);
            background: linear-gradient(0deg, rgba(27,30,39,1) 50%, rgba(18,20,27,1) 50%); 
            padding-left: 5px;
            padding-right: 5px;
            color : rgba(255,255,255,.8);
        }
    }

    .seConn{
        --background: rgb(91,201,224);
        --background: linear-gradient(0deg, rgba(91,201,224,1) 0%, rgba(22,126,197,1) 100%); 
        --box-shadow: 0 5px 20px -8px rgba(108,209,241,1);
        text-transform:none;

    }

    .mdpOublie{
        float: right;
        color : #fff;
        font-size: .9rem;
    }

    .loginAlternative{
        width : 100%;
        display : flex;
        margin-top: 25px;
        margin-bottom: 25px;
        .btnfb{
            --background: rgb(72,103,170);
            --background: linear-gradient(0deg, rgba(72,103,170,1) 0%, rgba(38,66,125,1) 100%); 
            --box-shadow: 0 5px 20px -8px rgba(108, 199, 241, 1);
            width: 50%;
        }
    
        .btngoogle{
            --background: rgb(255,127,127);
            --background: linear-gradient(0deg, rgba(255,127,127,1) 0%, rgba(228,27,10,1) 100%); 
            --box-shadow: 0 5px 20px -8px rgba(235, 94, 94, 1);
            width: 50%;
        }    
    } 
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

h1{
    margin: 0;
    font-size: 1rem;
}

.pasDeCompte{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color : rgba(255, 255, 255, 0.3);
    }
    
    p:nth-child(2){
        color : rgb(91,201,224);
        font-family: "PNB";
        margin-left: 5px;
        color : #fff;
    }
}