<ion-content color="secondary">
  <div class="header-solid">
      <div class="hs-button" (click)="retour()"><img src="../../assets/img/back-arrow-icon.svg"> retour</div>
  </div>

  <form [formGroup]="enregistrerForm" (ngSubmit)="addProprio()" class="fgRP">

      <img src="../../assets/img/logo-text.svg" class="img-icon">
      <h1>A vous de jouer !</h1>
      <h2>Inscrivez-vous pour profiter de boissons offertes</h2>

      <ion-item color="transparent" lines="none" no-padding>
        <ion-label position="floating">Nom complet :</ion-label>
        <ion-input type="text" formControlName="PRO_PRENOM" class="inputFirstLetter" (focusout)="checkEmailIfExist(emailClean)"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none" no-padding>
        <ion-label position="floating">Mot de passe :</ion-label>
        <ion-input type="password" formControlName="PRO_PASSWORD" (focusout)="checkEmailIfExist(emailClean)"></ion-input>
      </ion-item>

      <!-- <div class="customBtn_wrapper">
          <div class="loading-spinner" [ngStyle]="{'display' : sls}"></div> -->
      <button type="button" (click)="registerME()" class="customBtn" id="customBtnId"><span class="btnText" id="cbTextId">S'inscrire</span></button>
      <!-- </div> -->

    </form>

  

</ion-content>
