ion-content{
    width: 100%;
    height: 100%;
    position: relative;

    .customBtn{
        margin-top: 40px;
        border-radius: 20px;                
        transition: all .3s ease-out;
        background: #fff;
        width: 100%;
        height: 40px;
        border: 1px solid #fff;
        font-family: "NLI";
        text-transform: uppercase;
        font-size: .8rem;
        color: rgb(61, 61, 61);
    }
    @keyframes spin{
        0%{transform : rotate(0deg)}
        100%{transform : rotate(360deg)}
    }
    
}


.fgRP{
    width: 100%;
    height: 100%;
    padding: 0 2.5rem;
    padding-top: 80px;
    text-align: center;

    ion-item{
        --ion-safe-area-right: 0;
    }
    
    ion-label{
        padding-left: 10px;
        color: #fff;
        font-family: "NLI";
        text-transform: uppercase;
        font-size: .75rem;
    }
    
    ion-input{
        --padding-start : 1rem;
        --padding-end : 1rem;
        color: #fff;
        font-family: "NLI";
        font-size: .9rem;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #fff;
    }

    .inputFirstLetter{
        text-transform: capitalize;
    }
}

.img-icon{
    width: 50%;
    margin: 15px 0;
}


h1{
    width: 100%;
    color: #fff;
    font-family: "NBL";
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
}

h2{
    width: 100%;
    color: #A9A9A9;
    font-family: "NLI";
    font-size: 1rem;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}


