<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list *ngFor="let bars of items; let i = index">
    <ion-item no-padding color="secondary" lines="none">
        <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
          <div class="bubbles"><div></div><div></div><div></div><div></div></div>
        </div>
        <img src="../../assets/img/star-icon-filled.svg" class="star" alt="" (click)="removeToFave(bars.ENT_ID)">
        <div (click)="moveToBar(bars.ENT_ID)" class="img-overlay"></div>
        <img (click)="moveToBar(bars.ENT_ID)" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_1.jpg?ran=' + random"  [id]="'offset_'+i">
        <div (click)="moveToBar(bars.ENT_ID)" class="bar-details">
          <ion-ripple-effect></ion-ripple-effect>
          <p class="bar-nom">{{bars.ENT_NOM}}</p>
          <p class="bar-desc">{{bars.ENT_ADRESSE}}, {{bars.ENT_NPA}} - {{bars.ENT_LOCALITE}}</p>
        </div>  
      </ion-item>
  </ion-list>
</ion-content> -->


<div class="tab_header" [ngStyle]="{'margin-top' : hideHeader}">Mes bars</div>
<!-- (ionScroll)="scrollEvent($event)" -->
<ion-content color="secondary">
  <ion-list *ngFor="let bars of items; let i = index">
      <ion-item no-padding color="secondary" lines="none">
        <img src="../../assets/img/star-icon-filled.svg" class="star" alt="" (click)="removeToFave(bars.ENT_ID)">
        <div (click)="moveToBar(bars.ENT_ID)" class="img-overlay"></div>
        <img (click)="moveToBar(bars.ENT_ID)" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_1.jpg?ran=' + random"  [id]="'offset_'+i">
        <div (click)="moveToBar(bars.ENT_ID)" class="bar-details">
        <p class="off_desc">{{bars.ENT_NOM}}</p>
        <p class="ent_nom">{{bars.ENT_ADRESSE}}</p>
        </div>  
      </ion-item>
  </ion-list>
<div *ngIf="items == null">
  <div class="empty_fave">
    <img src="../../assets/img/empty_favorite.svg">
    <h1>Votre boîte de favoris est vide</h1>
  </div>
</div>
</ion-content>

