<ion-content no-padding color="secondary">
  <div class="header-solid">
    <div class="hs-button" (click)="retour()"><img src="../../assets/img/back-arrow-icon.svg"> retour</div>
  </div>
  <form [formGroup]="resetPassword" class="fgRP" (ngSubmit)="proceedReset()" *ngIf="!emailParamClean">
      <img src="../../assets/img/locked.svg" class="img-icon">
      <h1>Vous avez oublié votre <br> mot de passe ?</h1>
      <h2>Veuillez saisir votre adresse e-mail enregistrée afin de réinitialiser votre mot de passe.</h2>
      <ion-item color="transparent" lines="none" no-padding>
          <ion-label position="floating">Email :</ion-label>
          <ion-input type="email"  formControlName="RESET_PASS_EMAIL" (focusout)="checkEmailIfExist()"></ion-input>
      </ion-item>

      <div class="customBtn_wrapper">
          <div class="loading-spinner" [ngStyle]="{'display' : sls}"></div>
          <button type="button" (click)="sendToResetPass()" class="customBtn" [ngStyle]="{'display' : slb, 'width' : slw, 'background-color' : slbg, 'animation' : slideUP, 'transform' : su_t, 'opacity' : su_opac}"><span class="btnText" [ngStyle]="{'opacity' : slt}">Envoyer</span></button>
      </div>
      <!-- <ion-button type="submit" shape="round" expand="full" class="regBtn" [disabled]="!resetPassword.valid" (click)="checkEmailIfExist()">Reset Password</ion-button> -->
  </form>

  <form [formGroup]="resetPasswordSecondForm" class="fgRPS" (ngSubmit)="proceedResetPassword()" *ngIf="emailParamClean">
    <img src="../../assets/img/lock.svg" class="img-icon">
    <h1>Réinitialiser votre <br> mot de passe</h1>
    <h2>Votre mot de passe doit contenir au moins 6 caractères</h2>
    <ion-item color="transparent" lines="none" no-padding>
      <ion-label position="floating">Mot de passe :</ion-label>
      <ion-input type="password"  formControlName="RESET_PASS_PASS"></ion-input>
    </ion-item>
    <ion-item color="transparent" lines="none" no-padding>
      <ion-label position="floating">Confirmation mot de passe :</ion-label>
      <ion-input type="password"  formControlName="RESET_PASS_CONF_PASS" (focusout)="ifPassSame()"></ion-input>
    </ion-item>

    <div class="customBtn_wrapper">
        <div class="loading-spinner" [ngStyle]="{'display' : sls}"></div>
        <button type="button" (click)="resetPass()" class="customBtn" [ngStyle]="{'display' : slb, 'width' : slw, 'background-color' : slbg, 'animation' : slideUP, 'transform' : su_t, 'opacity' : su_opac}"><span class="btnText" [ngStyle]="{'opacity' : slt}">Réinitialiser</span></button>
    </div>
    <!-- <ion-button type="submit" shape="round" expand="full" class="regBtn" [disabled]="!resetPasswordSecondForm.valid">Reset Password</ion-button> -->
</form>
</ion-content>
