@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

ion-content{
    height: 100%;
    width: 100%;
}

ion-slide{
    position: relative;
    min-height: 100px;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 300px;
        width: 100%;
        display: block;
        position: relative;
        object-fit: cover;    
    }

    img:after { 
        content: "\f1c5" " " attr(alt);
        font-size: 16px;
        font-family: "FA";
        color: rgb(100, 100, 100);
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        padding-top: 30%;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282d3d;
      }
}

ion-slides{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 3;
}

.slides-md, .slides-ios{
    --bullet-background-active: #fff;
    --bullet-background : #fff;
    opacity : 1;
}

.bar-content{
    position: relative;
    z-index: 5;

    .roundCorner{
        position: absolute;
        top : -80px;
        left: -5px;
        height: 80px;
        width: 80px;
    }
    
    .map-btn{
        --background: #f80638;
        // --background: linear-gradient(20deg, rgba(48,107,179,1) 0%, rgba(108,209,241,1) 100%); 
        box-shadow: 0 0 10px rgba(248, 6, 56,.6);
        height: 50px;
        width: 50px;
        position: absolute;
        top : -28px;
        right: 16px;
        border-radius: 100%;
        z-index: 10;

        img{
            position: absolute;
            width: 18px;
            display: block
        }
    }
}
p, h1{
    margin: 0;
}

h1{
    font-size: 1rem;
    font-family: "PNB";
}

p{
    font-size: .85rem
}

.typeBar{
    color : #f80638;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-slide{
    position: relative;

    .backbutton{
        position: fixed;
        left: 16px;
        top : 16px;
        z-index: 10;
        width: 15px;
    }
}

.padding{
   padding: 30px;
}

.first-section{
    background-color: #0e1015;
    width: 100%;
    position: relative;

    .roundCornerLeft{
        position: absolute;
        bottom : 0;
        left: 0;
        height: 25px;
        width: 25px;
    }

    .roundCornerRight{
        position: absolute;
        bottom : -25px;
        right: 0;
        height: 25px;
        width: 25px;
    }
}

ion-grid{
    padding: 0;
    font-size: .8rem;
}

ion-row {
    padding: 0 30px 0 30px;
}

ion-datetime{
    padding: 0 !important;
}

h4{
    margin : 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color : rgba(255,255,255,.4);
    font-size: .7rem;
    letter-spacing: 2px;
}

.horaire{
    margin : 0;
    margin-bottom: 10px;
    margin-left: 30px;
}

.commentButton{
    margin : 50px 15% 50px 15%;
    width: 70%;
    text-transform: none;
    font-size: .9rem;
    --background : transparent;
    --border-width : 1px;
    --border-color : #fff;
    --border-style : solid; 
    color : #fff; 

}


.odd{
    background-color: #1b1e27;
}

.closed{
    display : none;
}

.open{
    display : block;
}

.closedCol{
    font-size: .7rem;
    color : rgba(255,255,255,.4);
    text-transform: uppercase;
    letter-spacing: 2px;
}





.offer-wrapper{
    width: 100%;
    padding: 1rem;

    .offers{
        width: 100%;
        text-align: center;
        background-color: rgba(255,255,255,.4);
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 10px;
    }
}


//loading anim
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }