<ion-content color="secondary">
  <div class="img-slide">
    <img src="../../assets/img/back-arrow-icon.svg" alt="" class="backbutton" (click)="goBack()">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img [src]="imgLink1" alt="Photo n° 1">
        </ion-slide>

        <ion-slide>
            <img [src]="imgLink2" alt="Photo n° 2">
      </ion-slide>

      <ion-slide>
          <img [src]="imgLink3" alt="Photo n° 3">
    </ion-slide>
    
    </ion-slides>
  </div>

  <div class="bar-content">

    <img class="roundCorner" src="../../assets/img/round-corner.svg" alt="">
    <!-- Map Button -->
    <ion-button class="map-btn" shape="round"><img src="../../assets/img/map-icon.svg" alt=""></ion-button>
    <div class="first-section padding"> 
        <h1>{{myBar.ENT_NOM}}</h1>     
        <p class="typeBar">{{myBar.ENT_SECTEURACTIVITES}}</p>
        <p class="addressBar">{{myBar.ENT_ADRESSE}}, {{myBar.ENT_NPA}} - {{myBar.ENT_LOCALITE}}</p>
        <img class="roundCornerLeft" src="../../assets/img/round-corner-light-small.svg" alt="">
        <img class="roundCornerRight" src="../../assets/img/round-corner-small.svg" alt="">
    </div>

    <div class="offer-wrapper">
        <div *ngFor="let offer of myOffers" class="offers">
          <h1>{{offer.OFF_DESCRIPTION}}</h1>
          <p><b>De :</b> {{offer.OFF_DATEDEBUT}}</p>
          <p><b>À :</b> {{offer.OFF_DATEFIN}}</p>
          

          <div class="lds-ring"  *ngIf="!showBtns"><div></div><div></div><div></div><div></div></div>
          <div *ngIf="payed=='good' && showBtns">
              <ion-button *ngIf="checkIfScanned(offer.OFF_ID,user_id)" disabled>offre utilisée</ion-button>
              <ion-button *ngIf="!checkIfScanned(offer.OFF_ID,user_id)" (click)="activerOffre(offer.OFF_DESCRIPTION, offer.OFF_DATEDEBUT, offer.OFF_DATEFIN, offer.OFF_ID, offer.Entreprises_ENT_ID, user_id)">activer l'offre</ion-button>
          </div>

          <ion-button *ngIf="payed!='good' && showBtns" (click)="jemabonne()">Activer l'offre</ion-button>
        </div>
    </div>

    <div class="padding">
      <h4>Description :</h4>
      <p class="descBar">{{myBar.ENT_DESCRIPTION}}</p>
    </div>
  </div>

  <div class="bar-schedule">
    <h4 class="horaire">Horaire :</h4>
    <ion-grid *ngFor="let schedule of mySchedule; let i = index">
      <ion-row [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
        <ion-col size="4" align-self-center>
          <div>
            {{schedule.HOR_JOURS}}
          </div>
        </ion-col>
        <ion-col size="4" align-self-center [ngClass]="(schedule.HOR_HEUREDEBUT == '00:00:00' && schedule.HOR_HEUREFIN == '00:00:00') ? 'closed' : 'open'">
          <div>
            <ion-datetime [readonly]="true" displayFormat="HH:mm" value="{{schedule.HOR_HEUREDEBUT}}"></ion-datetime>
          </div>
          
        </ion-col>
        <ion-col size="4" align-self-center [ngClass]="(schedule.HOR_HEUREDEBUT == '00:00:00' && schedule.HOR_HEUREFIN == '00:00:00') ? 'closed' : 'open'">
          <div >
            <ion-datetime [readonly]="true" displayFormat="HH:mm" value="{{schedule.HOR_HEUREFIN}}"></ion-datetime>            
          </div>
        </ion-col>

        <ion-col size="8" align-self-center [ngClass]="(schedule.HOR_HEUREDEBUT == '00:00:00' && schedule.HOR_HEUREFIN == '00:00:00') ? 'open' : 'closed'">
          <div class="closedCol" >
            Fermé
          </div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </div>

  <ion-button class="commentButton" shape="round"><ion-icon name="paper"></ion-icon>&nbsp;Voir les avis des clients</ion-button>
</ion-content>
