<div class="header-solid">
  <div class="hs-button" (click)="retour()"><img src="../../assets/img/back-arrow-icon.svg"> retour</div>
</div>

<ion-content padding color="secondary">
  <h3>Découvrez toute l'expérience Drinks up</h3>
  <p>Abonnez-vous pour profiter d'un verre offert chaque jour.</p>
  <p>100% sans engagement !</p>

  <div>
    <ion-card [ngStyle]="{'background-color': couleur}" (click)="offer()">
      <ion-card-header>
        <ion-card-title [ngStyle]="{'color': fcolor1}">1 Mois</ion-card-title>
        <ion-card-subtitle>9.90 CHF / mois</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card [ngStyle]="{'background-color': couleur2}" (click)="offer2()">
      <ion-card-header>
        <ion-card-title [ngStyle]="{'color': fcolor2}">3 Mois</ion-card-title>
        <ion-card-subtitle>19.90 CHF / mois</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card [ngStyle]="{'background-color': couleur3}" (click)="offer3()">
      <ion-card-header>
        <ion-card-title [ngStyle]="{'color': fcolor3}">12 Mois</ion-card-title>
        <ion-card-subtitle>59.90 CHF / mois</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <form [formGroup]="paiementForm" (ngSubmit)="validateCard()" >
    <ion-item color="secondary">
      <ion-label stacked><ion-icon name="card"></ion-icon></ion-label>
      <ion-input type="text" placeholder="4576 XXXX XXXX XXXX"
                 formControlName="cardNumber"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label stacked>MM</ion-label>
      <ion-input type="number" placeholder="12"
                 formControlName="cardMonth"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label stacked>AA</ion-label>
      <ion-input type="number" placeholder="2019"
                 formControlName="cardYear"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label  stacked>CVV</ion-label>
      <ion-input type="number" placeholder="123"
                 formControlName="cardCVV"></ion-input>
    </ion-item>
    <ion-button type="submit" class="validerBtn" shape="round" expand="full" [disabled]="!paiementForm.valid">Valider</ion-button>
  </form>

</ion-content>