<ion-content color="secondary">
  <div class="img-slide">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <div class="pho_number">Photo n° 1</div>
            <div class="pre_cover" [ngStyle]="{'opacity' : preCovOpac, 'display' : preCovDis}"></div>
            <img [src]="imgLink1" alt="Photo n° 1" (load)="imgLoad()">
        </ion-slide>

        <ion-slide>
            <div class="pho_number">Photo n° 2</div>
            <img [src]="imgLink2" alt="Photo n° 2">
      </ion-slide>

      <ion-slide>
            <div class="pho_number">Photo n° 3</div>
            <img [src]="imgLink3" alt="Photo n° 3">
      </ion-slide>
    </ion-slides>
    <!-- <div class="fade_top"></div> -->
    <div class="fade_bot">
      <p *ngIf="barFromAdminSide===null" class="changeImg" (click)="editPhotos()"><ion-icon name="images"></ion-icon>&nbsp;Mettre à jour vos photos</p>
    </div>
  </div>
  <div padding class="bar-content">
    <h1 *ngIf="barFromAdminSide!==null"class="status" (click)="lirePlus()">Son statut actuel : <span [ngClass]="(barStatus == 'Actif') ? 'active_status' : 'inactive_status'">{{barStatus}}</span>&nbsp;<i id="lireplustext">(Lire plus&nbsp;<ion-icon name="arrow-dropdown"></ion-icon>)</i></h1>
    <h1 *ngIf="barFromAdminSide===null" class="status" (click)="lirePlus()">Votre statut actuel : <span [ngClass]="(barStatus == 'Actif') ? 'active_status' : 'inactive_status'">{{barStatus}}</span>&nbsp;<i id="lireplustext">(Lire plus&nbsp;<ion-icon name="arrow-dropdown"></ion-icon>)</i></h1>
    <div class="note" id="noteSect">
      <div class="span-div">Attention :</div> Si vous modifiez les infos de votre bar, votre statut passera en <div class="span-div">inactif</div>.
      <br>
      L'administrateur vous changera le statut une fois que vous modifications seront validées.
      <br>
      Cela ne s'applique pas aux modifications d'horaire.
    </div>

    <form [formGroup]="editBarForm" (ngSubmit)="editBar()">
      <ion-input class="barname_input" formControlName="nomEnt" type="text" [readonly]="barInputDisabled" [ngStyle]="{'background-color': activeColor, 'border-bottom': activeBorder, 'height' : activeHeight}"></ion-input>
      <ion-input class="bartype_input"  formControlName="typeEnt" type="text" [readonly]="barInputDisabled" [ngStyle]="{'background-color': activeColor, 'border-bottom': activeBorder, 'height' : activeHeight, 'font-size' : activeFS}"></ion-input>
      <ion-input  class="baradd_input" formControlName="adresseEnt" type="text" [readonly]="barInputDisabled" [ngStyle]="{'background-color': activeColor, 'border-bottom': activeBorder, 'height' : activeHeight, 'font-size' : activeFS}"></ion-input>
      <div class="inputRow">
        <ion-input class="barnpa_input" formControlName="NPAEnt" type="text" [readonly]="barInputDisabled" [ngStyle]="{'background-color': activeColor, 'border-bottom': activeBorder, 'height' : activeHeight, 'font-size' : activeFS}"></ion-input>
        <ion-input class="barloc_input"  formControlName="localiteEnt" type="text" [readonly]="barInputDisabled" [ngStyle]="{'background-color': activeColor, 'border-bottom': activeBorder, 'height' : activeHeight, 'font-size' : activeFS}"></ion-input>
      </div>
      <ion-textarea class="bardesc_input"  rows="6" formControlName="descEnt" type="text" [readonly]="barInputDisabled" [ngStyle]="{'background-color': activeColor, 'border-bottom': activeBorder, 'height' : activeHeightTA, 'font-size' : activeFS}"></ion-textarea>

      <div class="editBtnSection">
        <ion-button class="modval" (click)="allowEdit()" [ngStyle]="{'display': dHide}" shape="round">Modifier</ion-button>
        <ion-button class="modval" type="submit" shape="round" [ngStyle]="{'display': dNone}">Valider</ion-button>
        <ion-button class="annul"(click)="disableEdit()" shape="round" [ngStyle]="{'display': dNone}">Annuler</ion-button>
      </div>
    </form>

    <div class="scheduleSection">
      <h1>Glisser le jour pour modifier</h1>
      <ion-item-sliding *ngFor="let schedule of mySchedule" #slidingItem>
          <ion-item-options side="start">
            <ion-item-option color="secondary" (click)="editSchedule(schedule.HOR_ID, schedule.HOR_JOURS, schedule.HOR_HEUREDEBUT_JOUR, schedule.HOR_HEUREFIN_JOUR, schedule.HOR_HEUREDEBUT_SOIR, schedule.HOR_HEUREFIN_SOIR)"><ion-icon slot="top" name="create"></ion-icon>&nbsp;Modifier</ion-item-option>
          </ion-item-options>

          <ion-item class="sched_row" [ngClass]="(schedule.HOR_JOURS == dayOfTheWeek) ? 'today' : 'notToday'">
            <ion-label class="sched_left">{{schedule.HOR_JOURS}}</ion-label>
            <ion-label class="sched_right">
                <p *ngIf="(schedule.HOR_HEUREDEBUT_JOUR == '00:00:00' && schedule.HOR_HEUREFIN_JOUR == '00:00:00') && (schedule.HOR_HEUREDEBUT_SOIR != '00:00:00' || schedule.HOR_HEUREFIN_SOIR != '00:00:00')">Fermé le matin</p>
                <p *ngIf="schedule.HOR_HEUREDEBUT_JOUR != '00:00:00' || schedule.HOR_HEUREFIN_JOUR != '00:00:00'"><ion-icon name="sunny"></ion-icon>&nbsp;<ion-datetime [readonly]="true" displayFormat="HH:mm" value="{{schedule.HOR_HEUREDEBUT_JOUR}}"></ion-datetime> - <ion-datetime [readonly]="true" displayFormat="HH:mm" value="{{schedule.HOR_HEUREFIN_JOUR}}"></ion-datetime></p>
                <p *ngIf="schedule.HOR_HEUREDEBUT_SOIR != '00:00:00' || schedule.HOR_HEUREFIN_SOIR != '00:00:00'"><ion-icon name="moon"></ion-icon>&nbsp;<ion-datetime [readonly]="true" displayFormat="HH:mm" value="{{schedule.HOR_HEUREDEBUT_SOIR}}"></ion-datetime> - <ion-datetime [readonly]="true" displayFormat="HH:mm" value="{{schedule.HOR_HEUREFIN_SOIR}}"></ion-datetime></p>
                <p *ngIf="(schedule.HOR_HEUREDEBUT_SOIR == '00:00:00' && schedule.HOR_HEUREFIN_SOIR == '00:00:00') && (schedule.HOR_HEUREDEBUT_JOUR != '00:00:00' || schedule.HOR_HEUREFIN_JOUR != '00:00:00')">Fermé le soir</p>
                <p *ngIf="schedule.HOR_HEUREDEBUT_SOIR == '00:00:00' && schedule.HOR_HEUREFIN_SOIR == '00:00:00' && schedule.HOR_HEUREDEBUT_JOUR == '00:00:00' && schedule.HOR_HEUREFIN_JOUR == '00:00:00'">Fermé toute la journée</p>
            </ion-label>
          </ion-item>
      </ion-item-sliding>

    </div><!-- end schedule section -->
    
  </div><!-- end bar content-->

</ion-content>
