@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

ion-content{
    height: 100%;
    width: 100%;
}

ion-slide{
    position: relative;
    min-height: 400px;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .pho_number{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 50px;
        background: rgb(7,7,8);
        background: linear-gradient(0deg, rgba(7,7,8,0) 0%, rgba(7,7,8,1) 100%); 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        font-size: 1.2rem;
        font-family: "NBL";
    }

    .pre_cover{
        position: absolute;
        right: 0;
        top : 0;
        z-index: 15; 
        background-color: #070708;
        transition: opacity .5s ease-in-out;
        height: 100%;
        width: 100%;
    }

    .uploadbtn{
        position: absolute;
        right: 10px;
        top : 10px;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    img{
        height: 400px;
        width: 100%;
        display: block;
        position: relative;   
        object-fit: cover; 
    }

    img:after { 
        content: "\f1c5" " " attr(alt);
        font-size: 16px;
        font-family: "FA";
        color: rgb(180, 180, 180);
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        padding-top: 30%;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #19191d;
      }

    img[alt] {
        color: rgb(180, 180, 180);
     }
}

.img-slide{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 3;
    .fade_bot{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 60px;
        background: rgb(7,7,8);
        background: linear-gradient(0deg, rgba(7,7,8,1) 0%, rgba(7,7,8,0) 100%); 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 16px;
        .changeImg{
            padding: 5px 20px;
            font-family: "NBO";
            font-size: .9rem;
            color: #fff;
            border: 1px solid #fff;
            display: inline-flex;
            margin: 0;
            border-radius: 30px;
        }
    }
}

ion-slides{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 3;
}

.slides-md, .slides-ios{
    --bullet-background-active: #fff;
    --bullet-background : #fff;
    opacity : 1;
}

.swiper-pagination-bullets {
    bottom: 50px;
    left: 0;
    width: 100%;
}

.bar-content{
    position: relative;
    z-index: 5;
    padding-top: 20px;

    .status{
        font-size: .9rem;
        font-family: "NBL";
        margin-bottom: 35px;
        padding-left: 8px;
        color: rgb(163, 163, 163);

        .active_status{
            font-size: .9rem;
            font-family: "NBL";
            color: #4caf50; 

            
        }

        .inactive_status{
            font-size: .9rem;
            font-family: "NBL";
            color: rgb(196, 0, 0); 
        }

        i{
            font-style: normal;
            text-emphasis-style: normal;
            font-size: .9rem;
            font-family: "NBO";
        }
    }

}

ion-input, ion-textarea{
    margin-bottom: 10px;
    --padding-bottom  : 0px;
    --padding-top  : 0px;
}

.barname_input{
    font-family: "NBL";
    font-size: 1.5rem;
}

.bartype_input, .baradd_input, .barloc_input, .barnpa_input, .bardesc_input{
    font-family: "NBO";
    font-size: 1.2rem;
}

.inputRow{
    width: 100%;
    display: flex;

    .barnpa_input{
        max-width: 15%;
    }

}

.scheduleSection{
    position: relative;
    max-width: 100%;
    padding-top: 20px;

    h1{
        font-size: .9rem;
        font-family: "NBL";
        margin-bottom: 15px;
        padding-left: 8px;
        color: rgb(163, 163, 163);
    }
}

ion-item-sliding{
    ion-item-option{
        background-color: rgb(196, 0, 0);
        text-transform: none;
        font-family: "NBO";
        font-size: 15px;
    }
    .sched_row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0 30px;
        height: 45px;
        --background : #070708;
        --ion-safe-area-right: 0;
        --ion-safe-area-left: 0;
        color: rgb(134, 134, 134);
        ion-label{
            font-family: "NBO";
            font-size: 15px;
        }
        .sched_left{
            width: 30%;
            max-width: 30%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .sched_right{
            width: 70%;
            max-width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-family: "NBO";
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                font-size: 15px;
                text-align: right;
                ion-datetime{
                    display: inline-flex;
                    font-size: 15px;
                    padding: 0;
                    font-family: "NBO";
                }
            }
        }
    }
    .today{
        color: #fff;
    }

    ion-item-options{
        padding: 0 30px;
    }
}

.editBtnSection{
    padding-left: 8px;
}

.modval{
    text-transform: none;
    font-family: "NBL";
    font-size: .9rem;
    --background : rgb(196, 0, 0);
    --border-width : 1px;
    --border-color : rgb(196, 0, 0);
    --border-style : solid; 
    color : #fff; 
}

.annul{
    text-transform: none;
    font-family: "NBL";
    font-size: .9rem;
    --background : rgb(100, 100, 100);
    --border-width : 1px;
    --border-color : rgb(100, 100, 100);
    --border-style : solid; 
    color : #fff;  
}

.odd{
    background-color: #1b1e27;
}

.closed{
    display : none;
}

.open{
    display : block;
}

.closedCol{
    font-size: .7rem;
    color : rgba(255,255,255,.4);
    text-transform: uppercase;
    letter-spacing: 2px;
}



.note{
    position: relative;
    color : rgba(255, 255, 255, 0.5);
    background-color: transparent;
    font-size: 14px;
    box-sizing: border-box;
    font-family: "NBO";
    width: 100%;
    padding: 0 8px;
    height: 0px;
    overflow: hidden;
    transition: height .5s ease-in-out;

    .span-div{
        display: inline-block;
        font-family: "NBL";
        color : #DC143C;
    }
}





