<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Mon bar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Statistiques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qrcode">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Qr Code</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
