ion-content{
    --background: #222227;

    hr{
        height: 1px;
        background-color: rgba(255,255,255,.2);
        border: none;
    }

    h1{
        margin-top : 10px;
        margin-bottom: 20px;
        font-family: "NBL";
        color: #fff;
        font-size: 18px;
        text-align: left;
        width: 100%; 
    }

    p{
        width: 100%;
        height: 30%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px;
        font-family: "NBO";
        color: rgb(180, 180, 180);
        font-size: 18px;
    }
}

ion-button{
    text-transform: none;
    font-family: "NBO";
    font-size: 15px;
    --color: #fff !important;
}