<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <div class="profile-section">
    <img src="../../assets/img/user-icon.svg" alt="" class="animated fadeIn delay-500 fast"> 
    <p [innerHTML]="loggedUser.INT_PRENOM" class="animated fadeInUp delay-700 fast"></p>
    <p [innerHTML]="loggedUser.INT_EMAIL" class="animated fadeInUp delay-900 fast"></p>
    <ion-button (click)="logout()" class="animated fadeInUp delay-1100 fast">Se déloguer</ion-button>
  </div>
  
</ion-content>
