<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!isSearchbarOpened">bars</ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false; hideElem='block'; Filtereditems=items" (ionChange)="searchBar($event)"></ion-searchbar>
    <ion-button size="small" icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

    <div class="container" [ngStyle]="{'display' : hideElem}">
      <h1 class="goUp"><ion-icon name="ribbon"></ion-icon>&nbsp;Top 10</h1>
      <div class="scroll" scrollY="true">
        <div *ngFor="let bars of Filtereditems; let i = index" class="bars goUp2">
            <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
              <div class="bubbles"><div></div><div></div><div></div><div></div></div>
            </div>
            
            <img *ngIf="!ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-empty.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId1_{{i}}">
            <img *ngIf="ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-filled.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId1_{{i}}">

            <div (click)="moveToBar(bars.ENT_ID)" class="img-overlay"></div>
            <img (click)="moveToBar(bars.ENT_ID)" class="bar-img zmImg" [src]="uplPhotoURI + bars.ENT_NOM + '_1.jpg?ran=' + random" alt="" (load)="imgLoad()" [class.zoomOut]="zoomOut">
            <div (click)="moveToBar(bars.ENT_ID)" class="bar-details">
              <p class="bar-nom">{{bars.ENT_NOM}}</p>
              <div class="note-sec">
                  <img class="bar-note" src="../../assets/img/grade-5.svg" alt="">
                  <p>(5.0/5.0)</p>
              </div>
              <p class="bar-desc">{{bars.ENT_ADRESSE}}, {{bars.ENT_NPA}} - {{bars.ENT_LOCALITE}}</p>
            </div> 
        </div>
      </div>
    </div>

    <div class="container" [ngStyle]="{'display' : hideElem}">
        <h1 class="goUp"><ion-icon name="pin"></ion-icon>&nbsp;Bars près de toi</h1>
        <div class="scroll" scrollY="true">
          <div *ngFor="let bars of Filtereditems; let i = index" class="bars goUp2">
            <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
              <div class="bubbles"><div></div><div></div><div></div><div></div></div>
            </div>
            
            <img *ngIf="!ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-empty.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId2_{{i}}">
            <img *ngIf="ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-filled.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId2_{{i}}">

            <div (click)="moveToBar(bars.ENT_ID)" class="img-overlay"></div>
            <img (click)="moveToBar(bars.ENT_ID)" class="bar-img zmImg" [src]="uplPhotoURI + bars.ENT_NOM + '_1.jpg?ran=' + random" alt="" (load)="imgLoad()" [class.zoomOut]="zoomOut">
            <div (click)="moveToBar(bars.ENT_ID)" class="bar-details">
              <p class="bar-nom">{{bars.ENT_NOM}}</p>
              <div class="note-sec">
                  <img class="bar-note" src="../../assets/img/grade-5.svg" alt="">
                  <p>(5.0/5.0)</p>
              </div>
              <p class="bar-desc">{{bars.ENT_ADRESSE}}, {{bars.ENT_NPA}} - {{bars.ENT_LOCALITE}}</p>
            </div> 
          </div>
        </div>
      </div>

    <h1 class="all-bars"><ion-icon name="business"></ion-icon>&nbsp;Tous les bars</h1>
    <ion-list *ngFor="let bars of Filtereditems; let i = index">
      <ion-item no-padding color="secondary" lines="none">
          <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
            <div class="bubbles"><div></div><div></div><div></div><div></div></div>
          </div>

          <img *ngIf="!ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-empty.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId3_{{i}}">
          <img *ngIf="ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-filled.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId3_{{i}}">
          
          <div (click)="moveToBar(bars.ENT_ID)" class="img-overlay"></div>
          <img (click)="moveToBar(bars.ENT_ID)" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_1.jpg?ran=' + random" alt="" (load)="imgLoad()" [id]="'offset_'+i">
          <div (click)="moveToBar(bars.ENT_ID)" class="bar-details">
            <p class="bar-nom">{{bars.ENT_NOM}}</p>
            <div class="note-sec">
                <img class="bar-note" src="../../assets/img/grade-5.svg" alt="">
                <p>(5.0/5.0)</p>
            </div>
            <p class="bar-desc">{{bars.ENT_ADRESSE}}, {{bars.ENT_NPA}} - {{bars.ENT_LOCALITE}}</p>
          </div>  
        </ion-item>
    </ion-list>

</ion-content>
