<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajouter un bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <ion-item color="secondary">
    <ion-label>
      <strong style="color:white">Propriétaires</strong>
    </ion-label>
    <ion-select value="" (ionChange)="showList()" [(ngModel)]="proprio">
      <ion-select-option *ngFor="let user of users" value="{{user.INT_ID}}" >{{user.INT_PRENOM}} {{user.INT_NOM}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list color="secondary" >
    <ion-item-sliding color="secondary" #slidingItem>
      <ion-item color="secondary">
        <ion-label>Bar : </ion-label>
        <p>{{bar.ENT_NOM}}</p>
      </ion-item>
      <ion-item-options side="start" color="secondary">
        <ion-item-option color="success" (click)="edit()">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="delete()">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p>{{haveBarOrNot}} </p>
</ion-content>
