<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Boissons Offertes</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="tab_header" [ngStyle]="{'margin-top' : hideHeader}">Boissons Offertes</div>
<div class="freedrinkstab">
  <div (click)="tous()" [ngStyle]="{'color' : activeColor1}">Tous <span class="rippleEffect"></span></div>
  <div (click)="encours()" [ngStyle]="{'color' : activeColor2}">En cours</div>
  <div (click)="imminent()" [ngStyle]="{'color' : activeColor3}">Imminent</div>
  <span class="outline_bar" [ngStyle]="{'transform' : tabPosition, 'left' : leftPosition}"></span>
</div>

<ion-content color="secondary" [scrollEvents]="true" (ionScroll)="scrollEvent($event)">
  <ion-list *ngFor="let bars of Filtereditems; let i = index">
    <ion-item no-padding color="secondary" lines="none">
        <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
          <div class="bubbles"><div></div><div></div><div></div><div></div></div>
        </div>
        <div (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="img-overlay"></div>
        <img (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_'+ randomImgNo +'.jpg?ran=' + random"  [id]="'offset_'+i">
        <div (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="bar-details">
          <ion-ripple-effect></ion-ripple-effect>
          <p class="off_desc"><ion-icon src="../../assets/img/offres_icon.svg"></ion-icon>&nbsp;{{bars.OFF_DESCRIPTION}}</p>
          <p class="ent_nom">Chez {{bars.ENT_NOM}}</p>
          <p id="countdown_{{bars.OFF_ID}}" class="countdown">{{countdownText}}</p>
        </div>  
      </ion-item>
  </ion-list>
</ion-content>
