<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Utilisateurs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bar-admin">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Partenaires</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers-management">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Gestion offres</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
