ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.gif-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;

    img{
        width: 30%;
    }

    p{
        font-family: "NBL";
        color : #fff;
        opacity: 0;
        animation: blink 2s ease-in-out infinite;
        font-size: 1.1rem;
    }

    span{
        display: block;
        width: 100%;
        text-align: center;
        font-family: "NBO";
        color : #fff;
        opacity: 0;
        animation: blink 2s ease-in-out infinite;
        font-size: .9rem;
    }
}

@keyframes blink{
    0%{
        opacity: 0;
    }

    25%{
        opacity: .5;
    }

    50%{
        opacity : 1;
    }

    75%{
        opacity: .5;
    }

    100%{
        opacity: 0;
    }
}