<div class="tab_header">Scanner le code</div>

<ion-content padding color="secondary">
  <div class="scan_button" (click)="scannerCodeDelay()">
    <img src="../../assets/img/scan_icon.svg">
    <span class="rippleEffect"></span>
  </div>
  <!-- <ion-button expand="full" (click)="scannerCode()"><ion-icon name="qr-scanner"></ion-icon>Scanner Code</ion-button> -->
  <!-- <ion-card *ngIf="codeContenu">
    <ion-card-content>
      <p>Contenu du code : {{codeContenu}}</p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
