<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestion des utilisateurs</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="tab_header" [ngStyle]="{'margin-top' : hideHeader}">Gestion des utilisateurs</div>
<div class="freedrinkstab">
  <div (click)="tous()" [ngStyle]="{'color' : activeColor1}">Tous <span class="rippleEffect"></span></div>
  <div (click)="abonne()" [ngStyle]="{'color' : activeColor2}">Abonné</div>
  <div (click)="termine()" [ngStyle]="{'color' : activeColor3}">Terminé</div>
  <span class="outline_bar" [ngStyle]="{'transform' : tabPosition, 'left' : leftPosition}"></span>
</div>

<ion-content color="secondary" [scrollEvents]="true" (ionScroll)="scrollEvent($event)">
  <ion-searchbar animated color="primary" placeholder="Cherchez un utilisateur" (ionInput)="search($event)"></ion-searchbar>
  
  <ion-list>
    <ion-item-sliding *ngFor="let user of usersFilter; let i = index" #slidingItem>
      <span class="voirPlus" (click)="expand(i)"><ion-icon name="arrow-dropdown"></ion-icon></span>
      <ion-item lines="none" no-padding>
        <div class="content">
            <h1>{{user.INT_PRENOM}}</h1>
            <h3>{{user.INT_EMAIL}}</h3>
            <span class="n-ab" *ngIf="(user.ABO_DATEDEBUT === null || user.ABO_DATEFIN === null)">non-abonné</span>
            <span class="ab" *ngIf="(user.ABO_DATEDEBUT !== null || user.ABO_DATEFIN !== null) && today < user.ABO_DATEFIN">abonné</span>
            <span class="ab-t" *ngIf="(user.ABO_DATEDEBUT !== null || user.ABO_DATEFIN !== null) && today > user.ABO_DATEFIN">abonnement terminé</span>
            <div class="sub_content" id="sub_content_{{i}}">
                <h2 *ngIf="user.INT_THIRD_PARTY_LOGIN!==null">Type&nbsp;d'inscription: {{user.INT_THIRD_PARTY_LOGIN}}</h2>
                <h2 *ngIf="user.INT_THIRD_PARTY_LOGIN===null">Type&nbsp;d'inscription: NATIVE</h2>
                <p>Date&nbsp;d'inscription:&nbsp;<ion-datetime [readonly]="true" [value]="user.INT_DATEINSCRIPTION" displayFormat="DD MMMM YYYY" month-names="Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Décembre"></ion-datetime></p>
                <hr>
                <p *ngIf="user.ABO_TYPE!==null">Type&nbsp;d'abonnement:&nbsp;{{user.ABO_TYPE}}</p>
                <p *ngIf="user.ABO_TYPE===null">Type&nbsp;d'abonnement:&nbsp;<i>non-abonné</i></p>

                <p *ngIf="user.ABO_DATEDEBUT!==null">Début:&nbsp;<ion-datetime [readonly]="true" [value]="user.ABO_DATEDEBUT" displayFormat="DD MMMM YYYY HH:mm" month-names="Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Décembre"></ion-datetime></p>
                <p *ngIf="user.ABO_DATEDEBUT===null">Début:&nbsp;<i>non-abonné</i></p>

                <p *ngIf="user.ABO_DATEFIN!==null">Fin:&nbsp;<ion-datetime [readonly]="true" [value]="user.ABO_DATEFIN" displayFormat="DD MMMM YYYY HH:mm" month-names="Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Décembre"></ion-datetime></p>
                <p *ngIf="user.ABO_DATEFIN===null">Fin:&nbsp;<i>non-abonné</i></p>
              </div>
        </div>
      </ion-item>
      <ion-item-options side="start">
        <!-- <ion-item-option  (click)="edit(slidingItem,user.INT_ID, user.INT_PRENOM, user.INT_NOM, user.INT_EMAIL, user.ROL_TYPES)"><ion-icon class="ion-edit" name="settings"></ion-icon></ion-item-option> -->
        <ion-item-option  (click)="sendEmail(user.INT_EMAIL)" class="ContactOpt"><ion-icon class="ion-delete" name="mail"></ion-icon></ion-item-option>
        <ion-item-option  (click)="delete(slidingItem,user.INT_ID, user.INT_PRENOM)" class="deleteOpt"><ion-icon class="ion-delete" name="trash"></ion-icon></ion-item-option>
        <ion-item-option  (click)="editRole(slidingItem,user.INT_ID, user.INT_PRENOM)" class="assignPartnerOpt"><ion-icon class="ion-role" name="contacts"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p>{{haveUserOrNot}} </p>
</ion-content>
