<ion-header>
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item >
        <ion-label>{{user.INT_PRENOM}} {{user.INT_NOM}} </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="edit(user.INT_ID)">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="delete(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
