@font-face {
    font-family: "PNB";
    src: url("../../assets/fonts/ProximaNovaBold.otf");
  }
  
  @font-face {
    font-family: "PNL";
    src: url("../../assets/fonts/ProximaNovaLight.otf");
  }
  

ion-list{
    background-color: #08090c;
}
