<ion-header>
  <ion-toolbar>
    <ion-title>offersAddbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>Ajouter des bars pour l'offre de {{jour}}</h4>


  <ion-list  *ngIf="bars?.length > 0">
    <ion-item-sliding *ngFor="let bar of bars" #slidingItem>
      <ion-item>
        <p>{{bar.ENT_NOM}} {{bar.ENT_SECTEURACTIVITES}} </p>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="add(slidingItem,bar.ENT_ID)">Ajouter</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="!bars?.length > 0" >
    <ion-item>
      <p>Il n'y a plus de bars dans la bdd</p>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
      Close
    </ion-button>
  </ion-toolbar>
</ion-footer>
