<div class="header-solid">
  <div class="hs-button" (click)="retour()"><img src="../../assets/img/back-arrow-icon.svg"> retour</div>
</div>


<ion-content padding color="secondary">
  <h5>Comment devenir membre ?</h5>
  <p style="font-size: 12px">L’app est gratuite à télécharger, vous pouvez alors découvrir notre sélection des bars les plus cools de Genève...<br/>
  Si vous avez envie d’être privilégiés dans ces bars (et on n’en doute pas), il vous suffira de vous abonner pour XX,XX CHF par mois et vous bénéficierez d’un verre offert à chaque sortie.
  </p>
  <h5>Quel type de boisson puis-je avoir avec Drinks up ? 🍸  </h5>
  <p style="font-size: 12px">
    Nos bars partenaires vous proposent uniquement des produits de qualité.
    Selon la spécialité de chaque établissement, vous pourrez bénéficier de cocktails, bières, vins, jus frais ou cafés.
    Découvrez les boissons proposées sur le profil de chaque établissement dans l’onglet Offres.
  </p>
  <h5>Dois-je consommer après le verre offert ? </h5>
  <p style="font-size: 12px">
    Notre objectif chez Drinks up est de vous offrir une délicieuse boisson par jour tout en satisfaisant nos établissements partenaires.
    Pour profiter de la boisson offerte, une de ces conditions doit être respectée : <br/>
    - inviter un ami non-membre qui paye sa première boisson<br/>
    - .........<br/>
    - .........<br/>
    - .........<br/>
  </p>
  <h5>Comment les bars sont sélectionnés ? </h5>
  <p style="font-size: 12px">
    Nous choisissons uniquement des bars et restaurants de qualité, où vous vous sentirez accueilli comme des rois,
    avec un service impeccable et surtout vous pourrez y goûter des produits de qualité.
    Pour l’instant, nous sommes à Genève, mais nous arriverons très prochainement dans d’autres villes où il fait bon vivre.
  </p>
  <h5>Puis-je profiter de plusieurs verres offerts par jour ? </h5>
  <p style="font-size: 12px">
    Vous pouvez déguster un seul verre offert chaque jour, dans le bar partenaire de votre choix.
    Vous pouvez retourner dans le même établissement une fois par semaine.
  </p>
  <h5>À qui est destiné le verre offert ? </h5>
  <p style="font-size: 12px">
    Le verre offert peut vous être destiné ou vous pouvez l’offrir à la personne vous accompagnant.
    Nous vous invitons à inciter vos amis à télécharger l’application, ainsi vous pourrez bénéficier d’une tournée offerte !
  </p>
  <h5>Combien de temps après m’être abonné puis-je commander ma première boisson ? </h5>
  <p style="font-size: 12px">
    Dès que vous vous êtes abonnés, vous pouvez immédiatement commander votre première boisson offerte dans un de nos bars partenaires.
  </p>
  <h5>Est-ce qu’il y a un engagement ? </h5>
  <p style="font-size: 12px">
    Si vous n’aimez plus les verres offerts, nous ne vous retiendrons pas, bien évidemment.
    C’est TOTALEMENT sans engagement, dès que vous vous voulez partir, vous pouvez le faire.
    Et si découvrir les meilleurs bars avec vos copains vous manque, c’est également très simple de se réabonner !
  </p>
  <h5>Made with LOVE in Genève ! </h5>
  <p style="font-size: 12px">
    Drinks up vous encourage à découvrir des lieux et à consommer de bons produits avec modération. L’abus d’alcool est dangereux pour la santé, soyez responsables !
  </p>
</ion-content>
